body{
    background-image: url("images/BG FOR MAIN.jpg");
    
}
h1{
    font-size: 40px;
    font-family:sans-serif;
    font-weight: bolder;		
}
h1 a{
    text-decoration: none;
}

ul {
    list-style-type: none;
    overflow:hidden;   
}
ul li{
    float:left;
    width:200px;
    text-align:center;
    font-size:30px;
}

ul li a{
    text-decoration: none;
    display: block;
    text-align: left;
    color:black;
    font-weight: bolder;
  
}

ul li a:hover{
    background-color:blue;
    color: white;
    text-align:left;
    display: block;
    border:2px ridge blue;
   
}
ul li ul li{
    display: none;
}
ul li:hover ul li{ 
    display: block;
}

figure{
    border-style:solid;
    border-color: aqua;
}
figure :hover{
    opacity: 0.75;


}
ol li a{
    text-decoration: none;
    color:white;
    list-style-type: none;
    font-style:normal;
   
}
ol li a:hover{
    color:orange;
}
a{
    text-decoration: none;
} 

a img:hover{
    opacity:0.85;
    color:red;
}
.active{
    color:black;
    background-color:lightgray;
    display:block;
    text-align:center;
}
#reduce1{
    font-size:30px;
    color:black;
    background-color:lightgray;
    border-style:solid;
    border-color: aqua;
    padding-right: 0px;
    border-style: groove;
    opacity: 0.75;
    padding: 15px;
    width: 90%;
}
#reduce2{
    font-size:30px;
    color:black;
   background-color:lightgray;
    border-style:solid;
    border-color: aqua;
    padding-right: 0px;
    border-style: groove;
    opacity: 0.75;padding: 15px;width: 90%;
    font-weight:bold;
}
#reduce3{
    font-size:30px;
    color:black;
    background-color:lightgray;
    border-style:solid;
    border-color: aqua;
    border-style: groove;
    opacity: 0.75;padding: 15px;width: 90%;
    font-weight:bold;
}
#reduce4{
    font-size:30px;color:black;
   background-color:lightgray;
    border-style:solid;
    border-color: aqua;
    border-style: groove;
    opacity: 0.75;padding: 15px;width: 90%; 
    font-weight:bold;
}
#reduce5{
    font-size:30px;
    color:black;
    background-color:lightgray;
    border-style:solid;
    border-color: aqua;
    border-style: groove;
    opacity: 0.75;padding: 15px;width: 90%;
    font-weight:bold;
}
/*this 'id' is for not displaying flex untill max height is 300px*/
#small-box{
    display: none;

}
/*this 'id' is for not displaying flex untill max height is 900px ad this is for empty row to diplay mani content in center*/
#empty{
    display:none;
}
/*this 'id' is for  navigaton links in footer*/
#box{
    background-color: black;
    width:100%;
    display: flex;
    height:100%; 
    justify-content: space-between;
    flex-wrap: wrap;   
}
#box-1{
    align-self:center;
    font-size: 25px;
   
}
#box-2{
    padding-top: 0px;
    align-self: flex-start;
    font-size:30px;
}
#box-3{
    align-self: flex-start;
    font-size:30px;
}
#box-4{
    align-self:center;
    font-size: 20px;
    
}
/*this 'id' is for  displaying 2  marquees and title of hospital untill width is greatre than 900px   */
#top-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
   
}
#top-box-1{
    width: 100%;


}
  #top-box-2{
    width:125%;
    align-self: center;
    
}
  #top-box-3{
    width: 50%;
    align-self: flex-end;
    
}
.heading{
    border:0px none black;
    background-color:lime;
    font-size:35px;
    padding-right:40px;
    margin-left:50px;
    font-family:century;
    font-style:normal;
    text-align: center;
    opacity: 0.9;
    width:88%;
}
.appointment{
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width:38%;
    height:80px;
    font-weight: bold;
    display: inline;
    border:2px groove transparent;
    margin-left: 50px;
}

/*this  media query is for reducong size of font in footer when width is less than 1300px*/
@media(max-width:1150px){
    #box{
        background-color: black;
        width:100%;
        display: flex;
        height:80%; 
        justify-content: space-around;
        flex-wrap: wrap;  
        align-content:center;
  
    }
    #box-4{
        width: 100% ;
        flex-direction: column;
        align-self: center;
        font-size: 20px;  
    }
    #box-2{
        width: 100%;
        align-self: flex-start;
        font-size:30px;
    }
    #box-3{
        width: 100%;
        align-self: flex-start;
        font-size:30px;
    }
       #box-1{
        width: 100%;
        flex-direction: column;
        align-self: center;
        font-size: 25px;
    }
    #reduce1{
        font-size:15px;
        font-weight:bold;
    }
    #reduce2{
        font-size:15px;
        font-weight:bold;
    }
    #reduce3{
        font-size:15px;
        font-weight:bold;
    }
    #reduce4{
        font-size:15px;
        font-weight:bold;
    }
    #reduce5{
        font-size:15px;
        font-weight:bold;
    }

}
/*this  media query is for not displaying marquees and displaying only title in title when width is less than 900px*/
@media(max-width:1300px){
    #top-box{
    width: 100%;
    height: 100%;
    display: none;
    }
  #small-box{
    display: flex;
    width: 75%;
    height: 100%;
    align-self: center;
    }
     #empty{
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    }
    .heading{
        border:0px none black;
        background-color:yellow;
        font-size:30px;
        padding-right:40px;
        font-family:century;
        opacity: 0.9;
        width:70%;
    }
    .appointment{
        font-size:20px;
        font-family:Calibri;
        background-color:skyblue;
        width: 40%;
        font-weight: bold;
        border-style: groove;
        
    }
}
